/*****************header/subheader list********/
/*********************************************/

ul {
	text-decoration: none;
	list-style-type: none;
}


li {
	padding: 5px;
}

.first li {
	float: left;
	text-align: center;
}

.second li {
	float: right;
	text-align: center;
}

/********navbar**********************/
.nav {
	margin-left: auto;
	float: right;
	height: 100%;
	padding: 3px;

}

.nav a {
	color: #ffffff;
	font-weight: 600;
}

.nav a:hover,
.nav a:active {
	border-bottom: 2px solid #4cd137;
	color: #fff;
	margin-bottom: -2px;
}



.img1-head {
	text-transform: uppercase;
	color: #4cd137;

}

/*.img1-para {
	padding-bottom: 10%;
	padding-left: 10%;

} */

/******* fa fa icons*************/

.fa {

	padding: 5px;
	font-size: 20px;
}

.fa-facebook-official {
	color: #3b5998;
}

.fa-twitter {
	color: #55acee;
}

.fa-instagram {
	color: #bc2a8d;
}

/*********header**************/
.img1 {
	padding-top: 50px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/pic11.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
	background-attachment: fixed;
	color: #eaeaea;
}



/*********sub header************/
.sub {
	font-size: 16px;
	background-color: #ffffff;


}

/*********text-content*********************/
.text-content {
	position: absolute;
	display: inline-block;
	color: white;
}


/****calling**********/
.calling {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}


/*******section-heading**************/
.section-heading {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

/**********how-operate****************/
.how-operate {
	padding-top: 50px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/pic33.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
	background-attachment: fixed;
	color: #eaeaea;

}

.btn {
	margin-bottom: 10px;
}

.upper {
	text-transform: uppercase;
}

.bg {
	color: #13d90b;
}

.boxx {
	border-radius: 0px 0px 0px 0px;
	background-color: #2e2d2d;
	margin-bottom: 28px;
	box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
	text-align: center;
	padding: 40px;
}

.count-digit {
	color: #09f012;
	font-size: 40px;
	font-weight: 600;
}


.count-title {
	color: #f2f2f2;
}

/**************contact-form************/
.form-control {
	margin-bottom: 15px;
}

.callback-form {
	background-color: #f0f0f0;
}


/***********getin******************/



/*************carousel***********************/
.carousel-item {
	height: 100%;
	width: 100%;
	margin-top: 0%;
	padding-top: 0%;

}


/***********button******************/
.buton {
	margin-bottom: 15px;
	text-align: center;
}


/**************footer**********************/
.footer {
	text-align: center;
	background-color: #1c1b1b;
	color: #eaeaea;
	height: 100px;
	padding-top: 50px;
}
